* {
	/* background-color: #cdd6f4; */
	color: #CCCCCC;
	border: none;
	font-family: HackNerdFont;
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background-color: rgba(24, 24, 24, 0.9);
}

.modules-right {
	margin-right: 8px;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}
